<!DOCTYPE html>
<html lang="en" xmlns= "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Your QRCode</title>
    </head>

    <body>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div th:each="qrCodeName, Stat: ${qrCodeNames}" class="col">
                    <div class="card">
                        <img th:src="@{'/qrcode/' + ${qrCodeName}}" class="card-img-top img-fluid rounded-4 rounded-top border border-success" alt="Image">
                        <div class="card-body text-center border border-top-0 border-5 border-success">
                            <h5 class="card-title" th:text="${#strings.length(qrCodeName) > 23 ? #strings.substring(qrCodeName, 0, 20) + '~.png' : qrCodeName}"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>
